.text-container
  position: relative
  display: inline-block
  
  .text-content
    font-family: inherit
    color: inherit
    
  .glitch
    display: none
    position: absolute
    inset: 0
    translate: 0% 0
    align-items: center
    pointer-events: none
    color: var(--accent)
    text-shadow: 0 1px var(--shadow)
    white-space: nowrap
    
    .letters
      display: flex
      width: 100%
      justify-content: inherit
      
      span
        flex: 1
        text-align: inherit
    
    // Letters flipping effect
    .letters span:nth-of-type(2),
    .letters span:nth-of-type(5)
      scale: 1 -1

    .letters span:nth-of-type(3),
    .letters span:nth-of-type(6),
    .letters span:nth-of-type(7)
      scale: -1 -1

:host-context([aria-label]:is(:focus-visible, :hover)),
:host-context(a:is(:focus-visible, :hover)),
:host-context(button:is(:focus-visible, :hover)),
:host-context(.glitch-hover:hover)
  .glitch
    animation: glitch 2s infinite
    display: flex
    
    .backdrop
      background: canvas

@keyframes glitch
  0%
    clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%)
  2%, 8%
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%)
    transform: translate(-5%, 0)
  6%
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%)
    transform: translate(5%, 0)
  9%
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%)
    transform: translate(0, 0)
  10%
    clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%)
    transform: translate(5%, 0)
  13%
    clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%)
    transform: translate(0, 0)
  14%, 21%
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0)
    transform: translate(5%, 0)
  25%
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0)
    transform: translate(5%, 0)
  30%
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0)
    transform: translate(-5%, 0)
  35%, 45%
    clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%)
    transform: translate(-5%)
  40%
    clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%)
    transform: translate(5%)
  50%
    clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%)
    transform: translate(0, 0)
  55%
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%)
    transform: translate(5%, 0)
  60%
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%)
    transform: translate(0, 0)
  31%, 61%, 100%
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0)
